
# === Python ===
__pycache__/

# === Django ===
media/
staticfiles/
db.sqlite3

# === Environment Files ===
# .env

# === VSCode/IDE ===
.vscode/

# === Angular ===
node_modules/
dist/
.angular/
npm-debug.log*