/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

* {
  font-family: "DM Sans";
  font-size: 18px;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-color: #232323;
}
